body {
    font-family: 'Poppins', sans-serif;
    background-color: #01180c;
    color: #14e486;
    margin: 0;
    padding: 20px;
}

.job-id-section {
    text-align: center;
    margin-bottom: 40px;
}

.job-id-section h1 {
    font-size: 42px;
    font-weight: bold;
    color: #14e486;
}

.container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.section {
    flex: 1;
    margin: 0 20px;
}

.section-wide {
    margin-top: 40px;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    font-size: 24px;
    border-bottom: 2px solid #14e486;
    padding-bottom: 10px;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 28px;
    color: #fff;
    border-bottom: 2px solid #14e486;
}

.scrollable-section {
    max-height: 300px;
    overflow-y: auto;
    background-color: #062c16;
    border: 1px solid #14e486;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
}

th, td {
    padding: 12px;
    border: 1px solid #14e486;
    text-align: left;
    color: #cdd5dd;
    font-size: 16px;
}

th {
    background-color: #0b3e22;
    font-weight: bold;
}

tbody tr:hover {
    background-color: #093c26;
}

a {
    color: #00d2ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding: 0;
}

.scrollable-section::-webkit-scrollbar {
    width: 10px;
}

.scrollable-section::-webkit-scrollbar-thumb {
    background-color: #14e486;
    border-radius: 10px;
}

.scrollable-section::-webkit-scrollbar-track {
    background-color: #062c16;
}

.same-dimension {
    flex: 1; /* Allows sections to grow and take equal width */
    min-width: 300px; /* Set a minimum width */
    max-width: 400px; /* Set a maximum width */
    border: 1px solid #ccc; /* Optional: border for visual distinction */
    border-radius: 5px; /* Optional: rounded corners */
    overflow: hidden; /* Hides overflow content */
  }